* {
    box-sizing: border-box;
}

@font-face {
    font-family: sanspro;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

body {
    background-color: #cfe8f0;
    margin: 0;
    text-align: center;
    font-family: sanspro, sans-serif;
}

button {
    border: 1px solid rgb(31, 28, 28);
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #23a1ad54;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: #ffddd2bb;
    color: #006d77;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.btn-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.btn-container>* {
    background: transparent;
    border-radius: 10px;
    margin-left: 0.5rem;
    padding: .3rem;
    background-color: transparent;
    margin-bottom: 1rem;
}

.search {
    background-color: unset;
    font-weight: bold;
}

.map {
    border: 0.2px solid rgb(31, 28, 28);
}

.modal {
    height: 100px;
    width: 400px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: #e29478c5;
    color: #006d77;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.form-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.form-container button {
    border-radius: 10px;
    border-color: #006d77;
}

.locs {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.locs li {
    border: 1px solid black;
    font-weight: bold;
    max-width: 300px;
    border-radius: 15px;
    padding: 0.3rem 1rem;
    background-color: #b9857231;
    color: #292828;
}

.locs li >* {
    margin: 5px;
    background-color: transparent;
    border-radius: 5px;
    color: #006d77;
}

